__pycache__/*
*/__pycache__/*
*.pyc
.ipynb_checkpoints/*
*/.ipynb_checkpoints/*
tests/img-*-align/*
tests/img-*-balance-*/*
tests/img-*-stack/*
tests/img-*-multilayer/*
tests/img-*-bunches/*
tests/noise-map/*
tests/plots/*
sandbox/img-test/*
*/logs/*
.DS_Store
.virtual_documents