__pycache__/*
*/__pycache__/*
*.pyc
.ipynb_checkpoints/*
*/.ipynb_checkpoints/*
*/*/.ipynb_checkpoints/*
*/*/*/.ipynb_checkpoints/*
anaconda_projects
tests/output/*
tests/plots/*
tests/noise-map/*
sandbox/img-test/*
*/logs/*
.DS_Store
.virtual_documents
*.egg-info/
build/
dist/
.eggs/
src/shinestacker/_version.py
*~
*.spec
logs
.vscode/
uv.lock
.venv/
examples/output/
examples/plots/
/output/
